*.pyc
*.log
*.min.js
*sonar-project.properties
*.scannerwork
sftp-config.json
/config/note.txt
/config/conf.json
/config/nginx/openssl-*
/golang/src/index
/golang/src/eudore/
/golang/src/gomemcache/
/golang/src/gateway/
/golang/src/search/
/python/tasks.txt
/download/
/upload/
/logs/
