<!DOCTYPE html>
<html>
<head>
	<title>File UpLoad Test</title>
	<meta charset="UTF-8" />
	<meta name="description" content="file mangae">
	<meta name="author" content="eudore">
	<meta name="referrer" content="always">
	<meta name="viewport" content="width=device-width,user-scalable=no">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link href="/css/base.css" rel="stylesheet" type="text/css">
	<script src='/js/hash.js'></script>
	<script type="text/javascript">
		"use strict";
		function readfile(file,callback) {
			var fileReader = new FileReader();
			fileReader.readAsBinaryString(file);
			fileReader.onload = function(evt) {
				if (evt.target.readyState == FileReader.DONE) {
					var result = evt.target.result;
					callback(result,file)
				}
			};
		}
		function filehash(file,range,size,callback) {
			var fileReader1 = new FileReader();
			fileReader1.readAsBinaryString(file.slice(range*size,(range+1)*size));
			fileReader1.onload = function(evt) {
				if (evt.target.readyState == FileReader.DONE) {
					var result = evt.target.result;
					callback(file,range,size,result)
				}
			};
		}
		console.log(document.location.href)
		function upload(){
			var obj = document.getElementById('upload').files
			if(obj.length==0)
				return
			for(var i of obj){
				// get policy
				fetch(document.location.href+"/"+i.name+"?signed",{ 
					method: "GET",
					credentials: "same-origin",
					headers: new Headers({
						'method': "POST",
						'length': i.size 
					})
				}).then(function(response) {
					if (!response.ok) throw new Error(response.statusText)
					return response.json()
				}).then(function(r){
					console.log(r)
					console.log(r.size)
					if(r.size){
						// use multi
						console.log("multiple")
						for(var n=0;n < i.size/r.size;n++){
							console.log(i.slice(n*r.size,(n+1)*r.size))
							filehash(i,n,r.size,function(file,range,size,result){
								console.log(result.MD5())
								var data =new FormData()
								data.append("file",file.slice(range*size,(range+1)*size))
							})
						}
					}else{
						// uoload file
						var data = new FormData();
						data.append("name",i.name)
						for(var d in r){
							if(d!="host" && r[d]!==undefined){
								data.append(d,r[d])
							}
						}
						data.append("file",i)
						fetch(r.host,{ method: 'POST', body: data}).then(function(response) {
							if (!response.ok) throw new Error(response.statusText)
							return response.text()
						}).then(function(data){
							console.log(data)
						}).catch(function(err) {
							console.log(err)
						})
					}

				}).catch(function(err) {
					console.log(err)
				})
			}
		}
	</script>
</head>
<body>
	<header>{{template "header"}}</header>
	<div class="container">
		<div>
			<input id="upload" type='file' multiple />
			<button onclick="upload()">提交</button>
		</div>
		<div>
			<table>
				<tbody>
					{{range $k,$file := .files}}
					<tr>
						{{if $file.Dir }}
						<td class="file-folder"></td>
						{{else}}
						<td class="file-ico"></td>
						{{end}}
						<td><a href="/file{{$.url}}/{{$file.Name}}">{{$file.Name}}</a></td>
						<td>{{$file.Size}}</td>
						<td>{{$file.ModTime}}</td>
					</tr>
					{{end}}
				</tbody>
			</table>
		</div>
	</div>
	<footer>{{template "footer"}}</footer>
</body>
</html>