<!DOCTYPE html>
<html>
<head>
    <title>File UpLoad Test</title>
    <meta charset="UTF-8" />
    <meta name="description" content="slick Login">
    <meta name="author" content="Webdesigntuts+">
    <meta name="referrer" content="always">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <script src='/js/upload.js'></script>
    <script type="text/javascript">
        "use strict";
        var up = new window.Upload()
        function upload(){
            console.log(document.getElementById('upload').files)
            up.add(document.getElementById('upload')).start()
            return
            var data = new FormData();
            //var obj = document.querySelector('input[type="file"]').files
            var obj = document.getElementById('upload').files
            if(obj.length==0)
                return
            for(var i of obj){
                data.append('file',i)
            }
            fetch(location.pathname,{ method: 'PUT',credentials: 'include', body: data}).then(function(response) {
                if (!response.ok) throw new Error(response.statusText)
                //document.getElementById('myframe').contentWindow.location.reload(true);
                return response.json()
            }).then(function(data){
                //console.log(data)
            }).catch(function(err) {
                console.log(err)
            })
        }
        
        var host,policyBase64,accessid,signature,expire=0,callbackbody,key
        function get_signature(){
            var now = Date.parse(new Date())/1000
            if(expire < now+3){  
                fetch("http://47.52.173.119:8081/file/policy",{method: 'GET'}).then(
                    function(response) {
                    if (!response.ok) throw new Error(response.statusText)
                    return response.json()
                }).then(function(obj){
                    console.log(obj)
                    host = obj['host']
                    policyBase64 = obj['policy']
                    accessid = obj['accessid']
                    signature = obj['signature']
                    expire = parseInt(obj['expire'])
                    callbackbody = obj['callback'] 
                    key = obj['dir']
                }).catch(function(err) {
                    console.log(err)
                })
            }
        }
        function ossupload(){
            var obj = document.getElementById('upload').files
            if(obj.length==0)
                return
            for(var i of obj){
                var data = new FormData();
                data.append("name","s")
                data.append("key",key+i.name)
                data.append("policy",policyBase64)
                data.append("OSSAccessKeyId",accessid)
                data.append("success_action_status",200)
                data.append("callback",callbackbody)
                data.append("signature",signature)
                data.append("file",i)
                console.log(data)
                fetch(host,{ method: 'POST', body: data}).then(function(response) {
                    if (!response.ok) throw new Error(response.statusText)
                    return response.text()
                }).then(function(data){
                    console.log(data)
                }).catch(function(err) {
                    console.log(err)
                })
            }

        }
        function testpost(){
            var data = new FormData();
            data.append("name","s")
            fetch("http://47.52.173.119:8081/file/weer/public/test",{method: 'POST',body: data}).then(
                function(response) {
                if (!response.ok) throw new Error(response.statusText)
                return response.text()
            }).then(function(obj){
                console.log(obj)
            }).catch(function(err) {
                console.log(err)
            })
        }
    </script>
</head>
<body>
    <input id="upload" type='file' multiple />
    <button onclick="upload()">local提交</button>
    <button onclick="testpost()">testpost</button>
    <button onclick="get_signature()">oss policy</button>
    <button onclick="ossupload()">oss提交</button>
    <table>
        <tbody>
            {{range $k,$file := .files}}
            <tr>
                {{if $file.Dir }}
                <td class="file-folder"></td>
                {{else}}
                <td class="file-ico"></td>
                {{end}}
                <td>{{$file.Name}}</td>
                <td>{{$file.Size}}</td>
                <td>{{$file.ModTime}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
    <br><!--
    <iframe src="/upload" id="myframe" width="600" height="500">
        <p>Your browser does not support iframes.</p>
    </iframe>-->
</body>
</html>