<html>
<head>
    <meta charset="utf-8">
    <title>WE Jass Login</title>
    <script type="text/javascript">
        function getQueryString(name) {  
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");  
            var r = window.location.search.substr(1).match(reg);  
            if (r != null) return unescape(r[2]); return null;  
        }
        var to=getQueryString("to")
        if(to){
            window.location.href="https://www.wejass.com"+to+(to.indexOf("?")==-1?"?":"&")+"token=."
        }
    </script>
    <meta name="description" content="slick Login">
    <meta name="author" content="Webdesigntuts+">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <link href="/css/slick-login.css" rel="stylesheet" type="text/css" integrity="sha256-kfqBpvaC0LmJ3QQMcegoEySDsosSBhOphBunuA8J8uU=">
</head>
<body>
    <form id="slick-login">
        <label for="name">username</label>
        <input type="text" name="name" class="placeholder" placeholder="username">
        <label for="pass">password</label>
        <input type="password" name="pass" class="placeholder" placeholder="password">
        <label for="code">code</label>
        <input type="text" name="code" class="placeholder" placeholder="code" style="display:none">
        <input type="button" value="Sign in" onclick="login()">
    </form>
    <script type="text/javascript">
        "use strict";
        var input=document.getElementsByTagName('input')
        document.onkeydown=function(e){
            var keyCode = e.keyCode || e.which || e.charCode;
            var ctrlKey = e.ctrlKey || e.metaKey;
            if(ctrlKey && keyCode == 67) {
                var code = input[2]
                if(code.style.display=='none')
                    code.style.display='block'
                else
                    code.style.display='none'
                e.preventDefault();
            }
        }; 
        function login(){
            var data = new URLSearchParams()
            data.append('user',input[0].value)
            data.append('pass',input[1].value)
            input[2].value && data.append('code',input[2].value)
            fetch('/auth/login',{ method: 'POST',credentials: 'include', body: data}).then(function(response) {
                if (!response.ok) throw new Error(response.statusText)
                return response.json()
            }).then(function(data){
                if(data['result']>=0){
                    window.location.href=data['url']
                }
            }).catch(function(err) {
                console.log(err)
            })
        }
        /*
        function login(){
            var data = {
                name: '11',
                passwd: '22'
            }
            var searchParams = new URLSearchParams()
            searchParams.append('name','sssss')
            searchParams.append('passwd','ssssspwd')
            var form = new FormData();
            form.append('name','sssss')
            form.append('passwd','ssssspwd')
            console.log(new FormData(document.getElementById('slick-login')) )
            var f = fetch('/go/sss',{ method: 'POST',credentials: 'include', //cache: 'no-cache',
                //headers: new Headers({'Content-Type': 'text/json' }),
                //body: JSON.stringify(data)
                headers: new Headers({'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' }),
                body: searchParams//new FormData(document.getElementById('slick-login'))
            }).then(function(response) {
                    if (!response.ok) throw new Error(response.statusText)
                    console.log(response)
                return response.text()
                }).catch(function(err) {
                    console.log(err)
                })
        }
        */
    </script>
</body>
</html>
